body {
    background-image: url("Doodle\ background.avif");
    background-size: cover;
}

.heading
{
    margin: 0px;
    width: 100%;
    font-size: 24px;
    box-shadow: 10px 10px 30px rgb(6, 89, 122);
}

.note
{
    font-size: 16px;
    color: black;
}

.copy_right_footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    color: rgb(248, 244, 9);
    font-size: 20px;
    background-color: rgb(0, 0, 0);
}

canvas
{
border: 5px solid rgb(238, 44, 151);
border-radius: 15px;
box-shadow: 10px 10px 10px rgb(114, 16, 54);
}